*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.route{
    display: flex;
    background-size: cover;
    background-position: center;


    .routecontainer{
        flex: 6;

        .boxz{
            justify-content: center;
            align-items: center;

        }
        
        .buttona{
            justify-content: center;
        }

    }
}